.informacion-container {
    color: white;
    padding-bottom: 5rem;
    /* background: linear-gradient(90deg, #1B1B1F 0.82%, #0667B0 27.77%, #0667B0 58.65%, #0667B0 74.33%, #1B1B1F 94.91%); */
    background: linear-gradient(180deg, #1B1B1F 0%, #1B1B1F 16.76%, rgba(27, 27, 31, 0) 93.6%);
    background-size: cover;

    .informacion-container-mobile {
        display: none;
    }

    p {
        font-size: 18px;
    }

    .informacion-title {
        h1 {
            text-align: center;
            font-size: 46px;
            margin: 0;
            padding: 3rem 0 3rem 0;
        }
    }

    .informacion-text {
        font-size: 30px;

        .p-text {
            margin-right: 3rem;
        }

        .informacion-text-calendar {
            display: flex;

            img {
                margin: 0 1.8rem 5rem 14rem;
            }

            p {
                margin: 0 1rem 0.5rem 0;

            }
        }

        .informacion-text-clock {
            display: flex;

            img {
                margin: 1rem 2rem 4rem 13.8rem;
            }

            b {
                margin-right: 2.6rem;
            }
        }

        .informacion-text-location {
            display: flex;

            img {
                margin: 0 2.5rem 4rem 14rem;
            }

            p {
                margin: 0 5rem 0.5rem 0;
            }
        }

        .informacion-text-menor {
            display: flex;

            img {
                margin: 0 2rem 4rem 14rem;
            }

            p {
                margin: 0 3.5rem 0.5rem 0;
            }
        }

        .informacion-text-language {
            display: flex;

            img {
                margin: 0 2rem 4rem 14rem;
            }

            p {
                margin: 0 3.6rem 0.5rem 0;
            }
        }

        .informacion-text-declined {
            display: flex;

            img {
                margin: 0 2rem 4rem 14rem;
            }

            p {
                margin: 0 1.4rem 0.5rem 0;
            }
        }

        .informacion-text-custom {
            display: flex;

            img {
                margin: 0 2rem 6rem 14rem;
            }

            p {
                margin: 0 1.6rem 0.5rem -0.2rem;
            }
        }
    }

}