.main-container {

    .main-first {
        width: 100%;
        height: 75vh;
        background-image: url(../../Assets/Images/Desktop/Pasillo-estadio.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        place-items: flex-end;

        h1 {
            text-align: center;
            color: white;
            font-size: 46px;
            margin: 0;
            padding: 5rem 0 4rem 0;
            font-weight: 600;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
            align-self: center;
        }

        p {
            width: 500px;
            font-size: 18px;
            text-align: right;
            padding-right: 10rem;
        }
    }

    .main-second {
        width: 100%;
        height: 75vh;
        color: white;
        background-image: url(../../Assets/Images/Desktop/Levanta-copa.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        place-items: flex-end;

        h1 {
            margin: 0;
            text-align: center;
            color: white;
            font-size: 46px;
            margin: 0;
            padding: 5rem 0 3rem 0;
            font-weight: 600;
            align-self: center;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
        }

        .main-second-text {
            display: flex;

            h2 {
                font-size: 40px;
                margin-left: 2rem;
                padding-right: 10rem;
            }

            img {
                width: 50px;
                animation-name: floating;
                animation-duration: 2s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
            }
        }

        p {
            width: 500px;
            font-size: 18px;
            padding-right: 10rem;
            text-align: right;
        }
    }

    .main-third {
        width: 100%;
        height: 75vh;
        color: white;
        background-image: url(../../Assets/Images/Desktop/Experiencia-inmersiva.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-attachment: fixed;

        h1 {
            margin: 0;
            text-align: center;
            color: white;
            font-size: 46px;
            margin: 0;
            padding-top: 5rem;
            font-weight: 600;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
        }

        p {
            width: 500px;
            text-align: center;
            font-size: 18px;
            padding-top: 1rem;
        }

        img {
            width: 50px;
            padding-top: 2rem;
            animation-name: floating;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }

    .main-fourth {
        width: 100%;
        height: 75vh;
        color: white;
        background-image: url(../../Assets/Images/Desktop/Foto-jugadores.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        .main-fourth-text {
            display: flex;
            padding: 6rem 0 0 10rem;

            h2 {
                margin: 0;
                font-size: 46px;
                width: 412px;
            }

            img {
                width: 50px;
                animation-name: floating;
                animation-duration: 2s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
            }
        }

        p {
            width: 500px;
            font-size: 18px;
            padding: 4rem 0 0 10rem;
        }
    }

    @media screen and (min-width: 300px) and (max-width:859px) {

        .main-first {
            background-image: url(../../Assets/Images/Mobile/Carousel1-Mobile.png);
            background-attachment: unset;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 19px;
                padding: 0 1rem 0 1rem;
                align-self: center;
                text-align: left;
                width: 70%;
            }
        }

        .main-second {
            background-image: url(../../Assets/Images/Mobile/Carousel2-Mobile.png);
            background-attachment: unset;

            h1 {
                font-size: 40px;
            }

            .main-second-text {
                flex-direction: row-reverse;
                align-self: center;
                padding-right: 5rem;

                h2 {
                    font-size: 35px;
                    padding-right: 0rem;
                    align-self: center;
                    width: 80%;
                    padding-left: 3rem;
                }

                img {
                    width: 50px;
                }

            }

            p {
                font-size: 19px;
                padding: 0;
                align-self: center;
                text-align: left;
                width: 70%;
            }
        }

        .main-third {
            background-image: url(../../Assets/Images/Mobile/Carousel3-Mobile.png);
            background-attachment: initial;

            h1 {
                font-size: 40px;
                width: 90%;
                margin: 0 2rem 0 2rem;
            }

            p {
                font-size: 19px;
                padding: 2rem 0 0 0;
                align-self: center;
                text-align: left;
                width: 80%;
            }

            img {
                width: 50px;
            }
        }

        .main-fourth {
            background-image: url(../../Assets/Images/Mobile/Carousel4-Mobile.png);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-attachment: unset;

            .main-fourth-text {

                padding: 5rem 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 40px;
                    padding-bottom: 6rem;
                    width: 90%;
                    margin: 0 2rem 0 2rem;
                    text-align: center;
                }

                img {
                    width: 50px;
                    margin: -85px;
                }
            }

            p {
                font-size: 19px;
                padding: 6rem 0 0 0;
                align-self: center;
                text-align: left;
                width: 70%;
            }
        }
    }
}