.home {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .videodesk {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .videomob {
        display: none;
    }

    h1 {
        font-weight: 900;
        font-size: 95px;
        width: 1045px;
        height: 150px;
        text-align: center;
        color: white;
        margin: 6rem 0 0 0;
    }

    h2 {
        font-size: 73px;
        font-weight: 400;
        width: 650px;
        text-align: center;
        color: white;
        margin: 0;
    }

    button {
        color: #0667B0;
        background-color: rgba(255, 255, 255, 0.87);
        border-radius: 38px;
        border: 2px solid #0667B0;
        padding: 10px 50px;
        font-size: 25px;
        font-weight: 600;
        margin-top: 3rem;
    }

    .home-button {
        margin-top: 6rem;
    }

    .home-whatsapp {
        position: relative;
    }

    @media screen and (min-width: 300px) and (max-width:1099px) {

        .videodesk {
            display: none;
        }

        .videomob {
            display: block;
            position: absolute;
            width: 100vh;
            left: 50%;
            top: 50%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        h1 {
            font-size: 42px;
            width: 370px;
            line-height: 100%;
            margin-top: 7rem;
        }

        h2 {
            font-size: 45px;
            width: 325px;
            color: white;
            margin-top: 1rem;
            font-weight: 400;
        }

        button {
            margin-top: 4rem;
            padding: 10px 50px;
            font-size: 20px;
        }

        .home-button {
            display: none;
        }
    }
}